.corVerdeAzul{
  color: #09a79f;
}
.corAzulRoxo{
  color: #7f0bec;
}
.corLaranja{
  color: #ff9100;
}
.corAzul{
  color: #085297;
}
.corVerdeClaro{
  color: #0cda27;
}
.bgRoxo{
  background-color: #7f0bec;
}
